<ion-view view-title="{{::pageTitle}}">
  <ion-nav-buttons side="right">
    <button class="button icon ion ion-trash-a button-clear  afastopmenuicon badgebutton" ng-click="deleteall()"></button>
    <div ng-include="'modules/app/corebuttons.html'"></div>
  </ion-nav-buttons>
  <ion-header-bar class="bar-light bar-subheader afasContactsHeader afasbackgroundcolor" style="height:auto;">
    <div class="list list-inset list-inset-small-margins">
      <div class="card withoutmarginsandpadding">
        <div class="item item-avatar item-icon-right item-text-wrap" ng-click="goToSender()">
          <img ng-src="{{sender.image}}" ng-if="sender.image" />
          <i ng-if="sender.TeamId" class="icon ion-ios-people" style="left:20px;"></i>
          {{sender.Name}} {{sender.DisplayId}}
          <i ng-if="sender.Id !='__Profit__'" class="icon ion-chevron-right icon-accessory"></i>
        </div>

      </div>
    </div>
  </ion-header-bar>
  <ion-content delegate-handle="messages" class="has-messagebar" ng-class="{ 'has-chatbar': chatback}" has-bouncing="false">
   
      <ion-refresher pulling-text="{{refreshText}}" on-refresh="refreshMessages()"></ion-refresher>
      <div class="list fadeDiv" ng-if="messages.length > 0">

        <div class="item chatmessage item-text-wrap" ng-class="{ 'right' : message.SendMessage, 'failed': message.Failed }" ng-repeat="message in messages track by $index">
          <div ng-if="message.Data.additionalData.JumpTo == 3" class="item item-thumbnail-left item-icon-right" style="margin-bottom: 10px;">
            <img ng-if="jumpToData[3][message.Data.additionalData.JumpToParam].imageUrl" ng-src="{{jumpToData[3][message.Data.additionalData.JumpToParam].imageUrl}}" id="contactpic" ng-click="showImage(jumpToData[3][message.Data.additionalData.JumpToParam].imageUrl)" />
            <div ng-switch="jumpToData[3][message.Data.additionalData.JumpToParam].type" ng-click="gotoContact(jumpToData[3][message.Data.additionalData.JumpToParam].guid)">
              <h2 ng-switch-when="PER">{{jumpToData[3][message.Data.additionalData.JumpToParam].name}}</h2>
              <h2 ng-switch-when="ORG">{{jumpToData[3][message.Data.additionalData.JumpToParam].name}}</h2>
              <div ng-switch-when="PRS"><h2>{{jumpToData[3][message.Data.additionalData.JumpToParam].person}}</h2><p>{{jumpToData[3][message.Data.additionalData.JumpToParam].name}}</p></div>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
          </div>

          <h5 ng-if="sender.Id =='__Profit__' && message.Data.additionalData.title">{{message.Data.additionalData.title}}</h5>
          <h5 ng-if="sender.Id =='__Profit__' && message.Data.title ">{{message.Data.title}}</h5>
          <h5 ng-if="sender.TeamId && message.Data.additionalData.FromEmployeeName">{{message.Data.additionalData.FromEmployeeName}}</h5>
          <p class="nl2br" linkclick ng-bind-html="message.Data.message | mdparse | link2inappbrowser | insitesmilies"></p><span ng-if="message.Failed" atrans="failedsend">(Mislukt te versturen)</span></p>
          <span class="chatdate">{{message.Date | date : "medium" : "+0000"}}</span>
        </div>
      </div>

      <div ng-if="!messages || messages.length == 0 " class="card text-center fadeDiv">
        <div class="item"><img src="img/empty.png" /><br><span atrans="nomessages">Er zijn geen berichten.</span></div>
      </div>
      <div ng-if="nodeviceregistered" class="card text-center fadeDiv">
        <div class="item item-assertive"><span atrans="devicenotregistered">Niet mogelijk berichten te ontvangen.</span></div>
      </div>         
  </ion-content>
  <ion-footer-bar ng-if="chatback" class="message-footer">
    
    <div class="card messageboardchatbox">
      <textarea ng-focus="mdfocus('messageText')" ng-if="!form.messageText || mdEdit.messageText " class="memota commentwordwrap" ng-blur="mdblur(form, 'messageText', $event)" type="text" ng-model="form.messageText" placeholder="{{textplaceholder}}" id="messageComment"></textarea>
      <div ng-if="!mdEdit.messageText && form.messageText" linkclick ng-bind-html="form.messageText | mdparse | link2inappbrowser | insitesmilies" class="mdshow" ng-click="mdedit(form, 'messageText', $event)"></div>
      <button class="button button-positive" id="sendnotifaction" ng-click="sendText()">
        <i class="icon ion-ios-paperplane"></i>
      </button>
    </div>
    
  </ion-footer-bar>
</ion-view>
