<ion-view view-title="{{pageTitle}}" class="afasbackgroundcolor">
  <ion-nav-buttons side="right">
    <span class="icon afaslistloading"><ion-spinner ng-if="$root.showLoading['Pocket_Contacts']"></ion-spinner></span>
    <div ng-if="!$root.showLoading['Pocket_Contacts']" ng-include="'modules/app/corebuttons.html'"></div>
  </ion-nav-buttons>
  <ion-header-bar class="bar-light bar-subheader afasContactsHeader afasbackgroundcolor">

    <div class="list list-inset list-inset-small-margins">
      <div class="card withoutmarginsandpadding">
        <div class="item item-icon-left afassearchbar">
          <i class="icon ion-search placeholder-icon"></i>
          <form ng-submit="searchContacts()">
            <input type="search" autocorrect="off" placeholder="{{searchplaceholder}}" ng-model="query" id="searchbarContact" ng-focus="ShowRecentSearches()" ng-blur="HideRecentSearches()" class="afassearchbarfullwidth">
          </form>
          <a ng-if="query.length" class="button-icon ion-close input-button" ng-click="clearContacts()" id="clearContacts"></a>
        </div>
      </div>
    </div>
    <div ng-if="recent.length > 0" class="afassearchitems list">
      <div ng-repeat="r in recent" class="item item-icon-left item-icon-right afasRecentItem" ng-click="clickRecent(r)">
        <p>{{r}}</p>
        <i ng-click="removeItem($event, r)" class="icon ion-close afassearchitemclose"></i>
      </div>
    </div>

    <div ng-if="total > 0" class="button-bar afasFilterButtons fadeDiv">
      <a class="button" ng-click="changeFilter('PER')" ng-class="{ afasselectedbutton : filter.type == 'PER'}" id="filterPER"><span class="afassmaller" atrans="Person">Persoon</span></a>
      <a class="button" ng-click="changeFilter('ORG')" ng-class="{ afasselectedbutton : filter.type == 'ORG'}" id="filterORG"><span class="afassmaller" atrans="Organisation">Organisatie</span></a>
    </div>

  </ion-header-bar>

  <ion-content delegate-handle="contacts" class="has-searchbar" ng-class="{'afasmargintop45' : total>0}">
    <div ng-if="contacts.length > 0 && searched" class="fadeDiv">
      <div ng-repeat="contact in contacts track by $index" ng-switch="contact.lineType" ng-class="{'itemselected': (contact.guid == selectedGuid && landscape && contact.guid != Undefined)}">

        <ion-item ng-switch-when="HREF" class="item item-avatar item-icon-right" ng-click="gotoContactDetail(contact.guid)" ng-switch="contact.type" id="contact{{contact.guid}}">
          <img src="img/white.png" ng-src="{{contact.image}}" ng-if="contact.type=='ORG' || contact.type=='PER'" />
          <img src="img/white.png" ng-src="{{contact.image_person}}" ng-if="contact.type=='PRS'" />
          <img src="img/white.png" class="contact-prs-circle" ng-src="{{contact.image}}" ng-if="contact.type=='PRS'" />
          <h2 ng-switch-when="PER" ng-if="contact.nickname && contact.name">{{contact.name_withnickname}}</h2>
          <h2 ng-switch-when="PER" ng-if="!contact.nickname || !contact.name">{{contact.contact}}</h2>
          <h2 ng-switch-when="ORG">{{contact.contact}}</h2>
          <h2 ng-switch-when="PRS" ng-if="contact.name_withnickname">{{contact.name_withnickname}}</h2>
          <h2 ng-switch-when="PRS" ng-if="!contact.name_withnickname">{{contact.person}}</h2>
          <p ng-switch-when="PER">{{contact.city}}</p>
          <p ng-switch-when="ORG">{{contact.city}}</p>
          <p ng-switch-when="PRS">{{contact.name}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <div ng-switch-when="DIVIDER" class="item item-divider">{{contact.divider}}</div>
      </div>
    </div>
    <div ng-if="contacts.length == 0 && searched" class="card text-center">
      <div class="item"><img src="img/empty.png" /><br>{{getContactCountText()}}</div>
    </div>

    <div ng-if="noentry && showhint" class="card text-center">
      <div class="item"><h1><i class="icon ion-arrow-up-a"></i></h1><span atrans="nocontactssearch">Vul hierboven een zoekopdracht<br>in om te beginnen</span></div>
    </div>
  </ion-content>

  <button ng-if="moreresults && total>0" class="button icon ion-more button-positive afas-fab" ng-click="getMoreContacts()">
    <!--<p>Toon meer</p>-->
  </button>
  <multiple-views-support width="40%" />
</ion-view>
