<ion-modal-view>
	<ion-header-bar>
		<h1 ng-if="form_modal.type=='projects'" class="title" atrans="chooseproject">Selecteer een project</h1>
		<h1 ng-if="form_modal.type=='activities'" class="title" atrans="chooseworktype">Selecteer een werksoort</h1>
        <h1 ng-if="form_modal.type=='project_stages'" class="title" atrans="chooseprojectstage">Selecteer een projectfase</h1>
		<div class="button button-clear afashelpbutton" ng-click="modal.hide()">
		<span class="icon ion-close"></span>
		</div>
	</ion-header-bar>

	<div class="bar bar-subheader item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<form ng-submit="search(form_modal.query)" class="afasfullwidth">
				<input type="search" autocorrect="off" placeholder="{{::form_modal.searchPlaceholder}}" ng-model="form_modal.query" id="searchProjects" ng-focus="ShowRecentSearches()" ng-blur="HideRecentSearches()">
			</form>
		</label>
		<a ng-if="form_modal.query.length" class="button-icon ion-close input-button" ng-click="clearSearch(form_modal.type)" id="clearSearch"></a>
	</div>
    <div ng-if="recent.length > 0" class="list afasrecentlist-modal">
        <div ng-repeat="r in recent" class="item item-icon-left item-icon-right afasRecentItem" ng-click="clickRecent(r)">
            <i class="icon ion-forward"></i> {{::r}}
            <i ng-click="removeItem($event, r)" class="icon ion-close afassearchitemclose"></i>
        </div>
    </div>

	<ion-content class="has-subheader">
		<ion-list ng-if="form_modal.type == 'projects'">
			<ion-item ng-model="form_modal.project" ng-repeat="p in ::form_modal.projects track by $index" class="item" ng-click="selectProject(p)" id="project{{::p.project_id}}">
			<h2>{{::p.project_name}}</h2>
			<p>{{::p.contact_name}}</p>
			<p>{{::p.project_id}}</p>
			</ion-item>
		</ion-list>
		<ion-list ng-if="form_modal.type == 'activities' && !form_modal.noresults">
			<ion-item ng-model="form_modal.activity" ng-repeat="a in ::form_modal.activities track by $index" class="item" ng-click="selectActivity(a)">
			<h2>{{::a.description}}</h2>
			<p>{{::a.id}}</p>
			</ion-item>
		</ion-list> 
        <ion-list ng-if="form_modal.type == 'project_stages' && !form_modal.noresults">
            <ion-item ng-repeat="stage in ::form_modal.projectstages track by $index" class="item" ng-click="selectProjectStage(stage)">
                <h2>{{::stage.projectstage_description}}</h2>
                <p>{{::stage.projectstage_id}}</p>
            </ion-item>
        </ion-list> 

		<div ng-if="form_modal.type == 'projects' && !form_modal.noresults && (form_modal.norecentyet == true && !form_modal.projects)" class="card text-center">
   			<div class="item item-text-wrap"><span atrans="mostrecentprojectswillbehere">Je meest recente gekozen projecten zullen hier komen te staan.</span></div>
		</div>

        <div ng-if="form_modal.type == 'projects' && form_modal.projects" class="card text-center">
            <div class="item item-text-wrap"><span atrans="showallprojects">Toon alle projecten</span></div>
        </div>

        <div ng-if="form_modal.type == 'activities' && !form_modal.noresults && (form_modal.norecentyet == true && !form_modal.activities)" class="card text-center">
            <div class="item item-text-wrap"><span atrans="mostrecentactivitieswillbehere">Je meest recente gekozen werksoorten zullen hier komen te staan.</span></div>
        </div>

        <div ng-if="form_modal.noresults" class="card text-center">
            <div class="item item-text-wrap"><img src="img/empty.png" /><br><span atrans="noresults">Geen resultaten gevonden</span></div>
        </div>

		<div class="card" ng-if="showmore">
		<a ng-if="!loadingmore"class="item stable-bg dark text-center" ng-click="loadMore()" ><i class="icon ion-arrow-down-a"></i> <span atrans="showmore2">Toon meer</span></a>
		<ion-spinner ng-if="loadingmore" class="item stable-bg dark text-center afasbuttonspinner"></ion-spinner>
		</div>

	</ion-content>
</ion-modal-view>

